JWT_SECRET=example_jwt_secret_here
DB_URI=mongodb://127.0.0.1:27017/example_db_name
PORT=8000
MONGODB_URL=mongodb://localhost/example-app
GOOGLE_CLIENT_ID=945407493142-puc80ua2fdpvvaatkk5emda10ia6i9re.apps.googleusercontent.com